mixin item(name, href)
  li.nav__pages__item
    a.nav__pages__item__link(href= href) #{name}

nav.nav.nav--static.nav--open#nav
  button.nav__burger#burger
    include ../../public/svg/menu.svg
  h1.nav__logo
    a.nav__logo__link(href= home) #{title}
  form.nav__search#search(action="")
    input.nav__search__input(type="search", name="filter")
    // div.nav__search__bg
    button.nav__search__submit(type="submit") 
      include ../../public/svg/search.svg
  ul.nav__pages
    each page in pages
      +item(page.name, page.href)
    // +item("home", "http://localhost:3000/")
    // +item("users", "http://localhost:3000/users")
    // +item("users", "http://localhost:3000/users")
    // +item("users", "http://localhost:3000/users")   
  ul.nav__media
    -var target = "_blank"
    li.nav__media__item
      a.nav__media__item__link(
        href="https://www.facebook.com/" 
        target="#{target}"
        title="facebook"
      ) 
        include ../../public/svg/facebook.svg
    li.nav__media__item
      a.nav__media__item__link(
        href="https://github.com/LastShadowPL/" 
        target="#{target}" 
        title="github"
      )
        include ../../public/svg/github.svg
    li.nav__media__item
      a.nav__media__item__link(
        href="https://twitter.com/" 
        target="#{target}" 
        title="twitter"
      )
        include ../../public/svg/twitter.svg