mixin post(post)
  li.main__posts__item
    a.main__posts__item__link(href= `${home}/posts/${post._id}`)
      img.main__posts__item__link__img(src= post.Img, decoding="async", alt="")
      article.main__posts__item__link__article
        time.main__posts__item__link__article__date #{post.Date}
        h2.main__posts__item__link__article__title #{post.Title}
        div.main__posts__item__link__article__line 
        p.main__posts__item__link__article__desc #{post.Desc}

ol.main__posts#list(style=`--length: ${max}`)
  for item in posts
    +post(item)
