extends layout

mixin pin_content(item) 
  a.main__pinned__item__link(href=`${home}/posts/${item._id}`)
            img.main__pinned__item__link__img(src=`${/https?/g.test(item.Img) ? item.Img : `../${item.Img}`}`)
            div.main__pinned__item__link__text
              h3.main__pinned__item__link__text__title #{item.Title}
              p.main__pinned__item__link__text__desc #{item.Desc}

block head
  link(rel='stylesheet', href='/css/style.css')
block heading
  // include ./components/header
block content
  main.main
    ul.main__pinned
      - if(pinnedList.length)
        li.main__pinned__item.main__pinned__item--big
          +pin_content(pinnedList[0])

        - for(let i = 1; i < pinnedList.length; i++)
          li.main__pinned__item
            +pin_content(pinnedList[i])

    h2.main__title.main__title--posts Latest Stories

    include ./components/posts
  script(src="/js/index.js", defer)
