extends layout

mixin pinBig(pinned)
  img.main__pinned__article__img(src= pinned.Img, alt="", decoding="async")
  div.main__pinned__article__data
    time.main__pinned__article__data__date #{pinned.Date}
    h2.main__pinned__article__data__title #{pinned.Title}
    div.main__pinned__article__data__line
    p.main__pinned__article__data__desc #{pinned.Desc}
    a.main__pinned__article__data__link(title="Read More", href=`${home}/posts/${pinned._id}`) Read Article

mixin pinSmall(pinned)
  // .main__pinned__article
  a.main__pinned__article__link(
    href=`${home}/posts/${pinned._id}`,
    style=`--img:url(${/https?/g.test(pinned.Img) ? pinned.Img : `../${pinned.Img}`})`
  )
    // img.main__pinned__article__link__img(src= pinned.Img)
    time.main__pinned__article__link__date #{pinned.Date}
    h3.main__pinned__article__link__title #{pinned.Title}

block head
  link(rel='stylesheet', href='/css/style.css')
block heading
  include ./components/header
block content
  main.main
    section.main__pinned
      article.main__pinned__article.main__pinned__article--big
        +pinBig(pinnedList[0])
      article.main__pinned__article.main__pinned__article--small
        +pinSmall(pinnedList[1])
      article.main__pinned__article.main__pinned__article--small
        +pinSmall(pinnedList[2])

    h2.main__title.main__title--posts Latest Stories

    include ./components/posts
  script(src="/js/index.js", defer)
